* {

  margin: 0;
  box-sizing:  border-box;
}

body {
	font-family:  'Montserrat';
}

button {
	margin: 5px;
}


input {
	margin-bottom:  10px;
}

h1 {
	text-align:  center;
	padding-bottom: 20px;
}

fieldset {
	margin-bottom: 20px;
}

section {

	width:  100%;
	background-color:  aliceblue;

}

.right {
	margin-left:  10px;
}


#errmsg {
	content:  attr(data-error);
	font-size:  0.85em;
	display:  block;
	margin:  10px 0;
	color:  red;
	
}

table, td {
  border: 2px solid black;
}

